@import "./custom_checkbox.scss";
@import "./bankus";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  font-family: "Montserrat", sans-serif;
}

.block-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.block-list-menu {
  span {
    padding-right: 25px !important;
    padding-left: 25px !important;
    color: #8e8e8e !important;
    font-size: 18px;
    font-weight: 600;
  }
  .active {
    color: #f99d1b !important;
    font-weight: 700;
  }
}

.block-projects {
  justify-content: center;
}
